:root{
    --primary_color:#e7f6f2;
    --secondary-color: #0a4cad;
    --nav:#064353;
}

.cover{
    background-color: var(--primary_color);
    height:100vh;
}
.input_field{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input_field input{
    /* width:90%; */
    width: 100%;    
}
.input_field h1{
    margin: 1em;
    font-size: 3.2em;
    margin-bottom: 0em;
    color:var(--secondary-color)
}
.box{
    display: flex;
    width:100%;
    padding:1em;
    justify-content: center;
    align-items: center;
}

.box li{
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px  solid ;

}

.box input{
    margin: .5em 0em .5em 3em;
    padding: 1em;
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin:.5em 0em;
    transition: all 1s;
    font-size: 1em;
    
}


input:focus{
    border:1px solid ;
}

.arrows{
    border:none;
    font-size: 3em;
    background-color: var(--secondary-color);
    color:#fff;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--nav)
}

.temperature{
    font-size: 6.5em;
    margin-top:1em;
}

.description{
    font-size: 3em;

}

.location{
    font-size: 2em;
}

.warning{
    margin-top: 1em;
    font-size: 4em;
    color: red;

}